/*
Theme Name: College Web Starter
Theme URI: http://bitbucket.org/rvidrine/college-web-starter
Author: Robert Vidrine, Tyler Pruitt
Author URI: http://college.wfu.edu/itg/robert-vidrine
Description: A theme for use by Wake Forest College academic departments and units. This theme is designed as a turnkey solution for a website for any Wake Forest College academic department or other unit, with minimal adjustment needed. It is a parent theme, so if major modifications are necessary, please create a child theme that builds on this parent theme.
Version: 1.5.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: college-web-starter 
Tags:
Bitbucket Theme URI: rvidrine/college-web-starter
*
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 College Web Starter is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
	5.3 Breadcrumb Trail
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Headers
10.0 Widgets
	10.1 Header Widgets
	10.2 Search Widgets
	10.3 Footer Widgets
	10.4 Frontpage Widgets
11.0 Content
	11.1 Posts and pages
	11.2 Asides
	11.3 Comments
	11.4 Index and Archive
	11.5 Faculty Profile
12.0 Infinite scroll
13.0 Media
	13.1 Captions
	13.2 Galleries
14.0 Footer
15.0 Customizer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */ /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Minion Pro",Times New Roman, serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: right;
	font-family: Avenir, Arial, sans-serif;
	color: #000;
	-ms-word-break: break-word;
    word-break: break-word;
	tont-weight: 900;
}

p {
	margin-bottom: 0.75em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*** Icon font insertions ***/
a[href*="mailto"]::before {  
	display: inline-block;
    padding: 0 .2em 0 0;
    vertical-align: top;
    font-family: 'Fontawesome';
    /*font-size: 14px;*/
    color: #000;
    -webkit-font-smoothing: antialiased;
	content: '\f003';
}
.footer-widgets a[href*="mailto"]::before {
	color: #fff;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* Make the entire page fit in a 960px frame (base size is 10px X 96.) */
body {
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */ /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}
.nav-links {
	font-weight: bold;
	font-style: italic;
}
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    clear: both;
    font-family: Avenir, Arial, sans-serif;
    background: #000;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
    display: block;
    padding: 0.3em 0.5em;
    font-size: 14px;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 1.3em;
    color: white;
    color: hsl(0, 0%, 100%);
	border-right: thin solid white;
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	left: 0;
	display: none;
	padding: 0;
	background: #625750;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #625750;
}

.main-navigation ul ul :hover > a {
}


.main-navigation ul ul a:hover {
    background: #3d3c1d;
}

.main-navigation ul li:hover > ul {
	display: block;
}
             
.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover {
    background: white;
    color: #625750;
}

.main-navigation .current_page_ancestor {
    background: #625750;
}

.main-navigation ul ul .current_page_parent,
.main-navigation .current_page_parent .current_page_item > a {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #3d3c1d;
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 767px) {
	.menu-toggle {
		display: block;
		height: 3.75em;
		padding: 0 1em;
		font-weight: normal;
		font-size: 14px;
		font-size: 1.4rem;
		text-decoration: none;
		line-height: 3.75em;
		color: white;
		background: #000;
	}
        
	.main-navigation.toggled .nav-menu {
		display: block;
		border-top: 1px solid;
		border-top-color: #fff;
		border-top-color: hsla(0, 0%, 100%, .5);
	}

	.main-navigation ul {
            display: none;
            padding-left: 0;
	}
	
		.main-navigation li { 
		float: none; 
	}

		.main-navigation a {
			font-size: 20px;
			font-size: 2rem;
	}
	
	.main-navigation li a { 
		padding: 1.3em 2em; 
	}

	.main-navigation li li a { 
		padding-left: 4em; 
	}

	.main-navigation li li li a { 
		padding-left: 6em; 
	}

	.main-navigation li:hover > a {
		background: #000;
	}
	
	.main-navigation ul ul,
	.main-navigation ul ul ul {
		position: relative;
		top: inherit;
		left: 0;
		display: block;
		float: none;
		background: #000;
	}
	
	.main-navigation ul ul a { width: 100%; }

	.main-navigation ul a:hover,
	.main-navigation ul ul a:hover {
		background: #625750;
	}

	.main-navigation .current_page_ancestor { background: inherit; }

	.main-navigation ul ul .current_page_parent {
		color: inherit;
		background: inherit;
	}

.main-navigation ul ul li:hover > ul {
	left: 0;
}	
	
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_item > a:hover,
	.main-navigation .current_page_item li:hover,
	.main-navigation .current_page_parent .current_page_item > a  {
		color: #fff;
		color: hsl(0, 0%, 100%);
		background: #625750;
	}
	.fa,
	.fa-search	{
		font-size: 1.75em/1;
		line-height: 2em;
	}
	.search-field {
	height: 3em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 2em;
	}

} /* End responsive menu */


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Social Menu */

.menu-social ul {
    float: right;
    text-align: center;
    list-style: none;
	margin-left: 2em;
}
#menu-footer-social.menu-social ul {
	float: none;
	margin: 0 auto .5em;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	max-width: 16em;
}

.menu-social ul li {
    position: relative;
    display:  inline-block;    
}

.menu-social li a:before {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    font-family: 'Fontawesome';
    font-size: 20px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    content: '\f0c0';
}

.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }

.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }

.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }

.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }

.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }

.menu-social li a[href*="github.com"]::before { content: '\f09b'; }

.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }

.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }

.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }

.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }

.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }

.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
                    
@media screen and (max-width: 767px) {
    #menu-social ul {
	    position: absolute;
        top: 0;
        right: 4rem;
        display: block;
		font-size: 26px;
	}
    
    #menu-social li a { 
        padding: 0 .5em;
    }
	.menu-social li a:before {
		font-size: 35px;
	}
	.menu-social li a::before {
		    padding: 6px 0;
	}
}

.paging-navigation ul {
    margin: 0;
}

.paging-navigation li { display: inline; }

a.page-numbers,
span.page-numbers {
     padding: .3em .7em;
     color: #333;
     color: hsl(0, 0%, 20%);
	 border: thin solid black;
	 background: #e5e0d9;
}

a:hover.page-numbers {
    color: #000;
    color: hsl(0, 0%, 0%);
}

.paging-navigation .current {
    font-weight: bold;
    color: #000;
    color: hsl(0, 0%, 0%);
}

/*--------------------------------------------------------------
5.3 Breadcrumb Trail
--------------------------------------------------------------*/
/* These are styles for the optional Theme Hybrid Breadcrumb Trail plugin */
.trail-browse {
	display: none;
}
.breadcrumb-trail {
	background: white;
	font-size: .75em;
	font-weight: bold;
}        
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	right: 0;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
/*--------------------------------------------------------------
9.0 Headers
--------------------------------------------------------------*/

.header-image img {
	display: block;
	margin: 0 auto;
}

.site-branding {
	height: 110px;
	width: 100%;
	position: relative;
}
.title-box {
	position: absolute;
	left: 330px;
	margin-top: 32px;
    max-width: 100%;
}
                    
.site-title,
.site-description {
	font-family: "Minion Pro", "Times New Roman", serif;
}
.site-title {
	font-weight: 700;
    font-size: 35px;
    line-height: 1.0;
    padding-bottom: 1rem;
}

.site-description {
    font-weight: 100;
    font-size: 20px;
    font-size: 2rem;
}
                    
.site-branding a { 
    text-decoration: none; 
}

.header-background-image {
    background: no-repeat center;
}

.header-background-image .title-box {
}


/* Header search */

.search-toggle {
    float: right;
    width: 27px;
    height: 27px;
    margin-right: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.search-toggle:hover,
.search-toggle.active {
    background: #4d4d4d;
    background: hsl(0, 0%, 30%);
}

.search-box-wrapper {
    z-index: 2;
    width: 100%;
    display: none;
}
@media screen and (max-width: 959px) {
	.title-box {
		margin-top: 0px;
	}
	.site-branding {
		background-image: none !important;
	}
	.title-box {
		padding: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.site-title a,
	.site-description {
		color: black !important;
	}
}
@media screen and (max-width: 767px) {
    .search-toggle {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: .2em;
		font-size: 38px;
		height: auto;
		width: auto;
    }
}
@media screen and (min-width: 960px) {
	.title-box {
		margin-top: 32px;
	}
}
input[type="search"] {
    box-sizing: border-box;
    width: 100%;
	line-height: 1;
}

.search-box-wrapper {
    z-index: 2;
    width: 100%;
}

.search-box {
    background: #4d4d4d;
    background: hsl(0, 0%, 30%);
}

.search-box .search-field {
    max-width: 362px;
    float: right;
    background-color: #fff;
    border: 0;
	margin-right: 0.5rem;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}
.header-login-link {
	width: 100%;
	position: inherit;
}
.header-login-div a {
	background: gold;
}

/*--------------------------------------------------------------
10.0 Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 4em;
    font-family: Avenir, Arial, sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
}

.widget-title {
    margin-bottom: 1em;    
    font-size: 18px;
    font-size: 1.8rem;
	font-weight: 700;
    border-bottom: 0 none #000;
}

.widget a {
    font-weight: 700;
    color: #000;
    color: hsl(0, 0%, 0%);
}

.widget ul,
.widget ol {
    padding: 0;
    margin: -1em 0 0;
    list-style-type: none;
}

.widget li { padding: 1em 0 0; }

.widget li ul,
.widget li ol { margin-top: 0; }

.widget li li { margin-left: 1.5em; }

.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_archive li:before {
    display: block;
    float: left;
    padding-top: 2px;
    margin-left: -2.5em;
    font-family: 'fontawesome';
    font-size: 14px;
    font-size: 1.4rem;
} 

.widget_recent_entries li,
.widget_recent_comments li { margin: 0 0 .5em 2.5em; }

.widget_recent_entries li:before { content: "\f036"; }

.widget_recent_comments li:before { content: "\f075"; }

.widget_archive li { margin: 0 0 0 2.5em; }

.widget_archive li:before { content: "\f187"; }

.widget_nav_menu a,
.widget_pages a {
    display: block;
    padding: .3em 0;
    border-bottom: solid 1px hsl(0, 0%, 90%);
}

.widget_nav_menu li,
.widget_pages li { padding-top: 0; }

.widget_rss li { margin-bottom: .5em; }

.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    font-size: 85%;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
10.1 Header Widgets
--------------------------------------------------------------*/

.header-widgets .widget {
    margin: 0 0 4em;
    font-size: 14px;
    font-size: 1.4rem;
}

.header-widgets .widget a {
	padding: .3em .3em 0;
	color: black;
	text-decoration: underline;
}

.header-widgets .widget a:hover,
.header-widgets .widget a:active {
	color: black;
	text-decoration: none;
}

#header-widgets aside {
	display: inline;
	line-height: 1.0;
	margin: 0;
}

.header-widgets .widget-title {
	display: none;
}

.header-widgets .widget ul,
.header-widgets .widget ol {
    margin: 0;
}

.header-widgets .widget li { 
	margin-right: 0.5em;
	display: inline-block;
}

.header-widgets .widget_wfu_links { float: right; }
.header-widgets .widget_admin_links { float: left; }
/* Header Widgets */
.header-widgets aside {
	margin: 0;
}
.header-widgets {
	display: inline;
}
.header-widgets ul,
.header-widgets li,
.header-widgets aside {
	padding-top: 0;
	margin-top: 0;
}
#register_link {
  float: left;
  margin-left: 5px;
}
#loginout_link {
  float: left;
  margin-left: 5px;
}
.header-widgets .univlink,
.header-widgets .collegelink {
	float: right;
	padding-left: .2em;
	padding-right: .2em;
}

.header-widgets .widget_simple_login_link {
	margin: 0 0 0;
}

/*--------------------------------------------------------------
10.2 Search Widgets
--------------------------------------------------------------*/
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.3 Footer Widgets
--------------------------------------------------------------*/

.footer-widgets { 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto; }

.footer-widgets .widget-title,
.footer-widgets .widget a:hover {
    color: #fff;
    color: hsl(0, 0%, 100%);
    border-color: #fff;
    border-color: hsl(0, 0%, 100%);
}

.footer-widgets .widget {
    float: left;
    width: 31%;
}

.default-footer-content {
	display: flex;
	justify-content:space-between;
	margin: 0 auto;
}

#deptcontact {
	flex: 1 1;
	-webkit-flex: 1 1;
	margin-right: 20px;
	margin-left: 0;
}

.default-footer-content .widget {
	margin: 0 0 64px;
}
/* Foter widget area in the social media area, in case one wants to put a widget in there instead of a menu. (This is especially for colored social media icons.) */
.footer-social-alternate aside {
	text-align: center;
	margin: 0;
}

/* change the footer widgets size when screen gets very small */
@media screen and (max-width: 767px) {
	.footer-widgets,
.default-footer-content	{
		display: block;
	}

	.footer-widgets .widget {
		float: none;
		width: 90%;
		margin: 0 auto 3em;
		width: 300px;
		max-width: 90%;
	}
	#deptcontact {
		margin-left: auto;
		margin-right: auto;
	}
}

/*--------------------------------------------------------------
10.4 Frontpage Widgets
--------------------------------------------------------------*/
.frontpage-widgets .rpwwt-post-excerpt {
	font-family: Minion Pro, Times New Roman, serif;
}

/*--------------------------------------------------------------
11.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
11.1 Posts and pages
--------------------------------------------------------------*/
.entry-title {
    margin: 3rem 0 2rem;
    font-weight: 700;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.2em;
    color: #3d3c1d;
}
.entry-title a {
	color: #3d3c1d;
}
.page-title {
	font-size: 2em;
	font-weight: bold;
}
/* Hide the page-title if on home */
.home .page-title {
	display: none;
}
.entry-content a { 
    text-decoration: underline; 
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 { margin-bottom: .4em; color: #3d3c1d; }

.entry-content h1 {
    font-size: 32px;
    font-size: 3.2rem;
}

.entry-content h2 {
    font-size: 30px;
    font-size: 3.0rem;
}

.entry-content h3 {
    font-size: 28px;
    font-size: 2.8rem;
}

.entry-content h4 {
    font-size: 26px;
    font-size: 2.6rem;
}

.entry-content h5 {
    font-size: 24px;
    font-size: 2.4rem;
}

.entry-content h6 {
    font-size: 22px;
    font-size: 2.2rem;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.2em;
}

.entry-content blockquote p {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.5em;
}

/* Smaller fonts for smaller screens */
@media screen and (max-width: 680px) {
    .entry-title {
        font-size: 32px;
        font-size: 3.2rem;
        line-height: 1.3em;
    }
    .entry-content h1 {
        font-size: 28px;
        font-size: 2.8rem;
    }

    .entry-content h2 {
        font-size: 26px;
        font-size: 2.6rem;
    }

    .entry-content h3 {
        font-size: 24px;
        font-size: 2.4rem;
    }

    .entry-content h4 {
        font-size: 22px;
        font-size: 2.2rem;
    }

    .entry-content h5 {
        font-size: 20px;
        font-size: 2rem;
    }

    .entry-content h6 {
        font-size: 18px;
        font-size: 1.8rem;
    }

    .entry-content p,
    .entry-content ul,
    .entry-content ol  {
        font-size: 18px;
        font-size: 1.8rem;
		clear: both;    }
    
    .entry-content blockquote p {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 1.5em;
    }
}

/* Meta */
.category-list {
    margin: 1.3em 0 1em;
    font-family: Avenir, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
}
.category-list a {
    color: #333;
    color: hsl(0, 0%, 10%);
}

.category-list a:hover {
    color: #000;
    color: hsl(0, 0%, 0%);
}

.entry-meta {
    margin-bottom: 2rem;
    padding: 0;
    font-family: Avenir, Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
}

.entry-meta a { font-weight: 600; }

.entry-footer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-family: Avenir, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2em;
}

.entry-footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.entry-footer li {
    display: inline-block;
    margin-right: 4rem;
}

.entry-footer a {
    margin-left: .5rem;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
/* Post thumbnail styling */
.post_thumbnail {
	float: left;
	margin-right: 10px;
}

/*--------------------------------------------------------------
11.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
11.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
11.4 Index and Archive
--------------------------------------------------------------*/

.continue-reading {
    margin: 0 4rem;
    font-weight: 900;
    font-size: 12px;
    font-size: 1.2rem;
}

.continue-reading i { margin-left: .5em; }

/*--------------------------------------------------------------
11.5 Faculty Profile
--------------------------------------------------------------*/

#profArea .label {
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
#profArea p {
	margin-bottom: 15px;
}
#profName {
	font-weight: bold;
	font-size: 30px;
}
#profPicArea {
	margin-right: 7px;
	margin-bottom: 7px;
	float: left;
}
#additionalprofinfo {
	clear: both;
	margin-top: 1em;
}
#profTitle {
	font-weight: bold;
	font-style: italic;
	margin-left: 1em;
}
/*--------------------------------------------------------------
12.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
13.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
13.1 Captions
--------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
    padding: 0.8075em 1em;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: Avenir, Arial, sans-serif;
    background: #e5e5e5;
    background: hsl(0, 0%, 90%);
}
                

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
13.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
 14.0 Footer
--------------------------------------------------------------*/

.site-footer {
    padding: 2em;
    font-family: Avenir, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #000000;
}

.site-footer a {
    color: #fff;
    color: hsl(0, 0%, 100%);
}

.site-info { 
    text-align: center; 
}

/* ----------------------------------------------------
	15.0 Customizer
------------------------------------------------------ */
/* ======= Color Schemes ========= */
/* Style One */
body.color-scheme-style-one {
	background-color: #e5e0d9;
}
.color-scheme-style-one .site-main {
	background-color: #e7dcba ;
}
.color-scheme-style-one .site-content {
	background-color: #fffde8;
}
.color-scheme-style-one .site-footer,
.color-scheme-style-one .footer-widgets,
.color-scheme-style-one .footer-widgets .widget-title,
.color-scheme-style-one .footer-widgets a[href*="mailto"]::before,
.color-scheme-style-one .site-footer a {
	background-color: #c1b58a;
	color: black;
	font-weight: 700;
}
.color-scheme-style-one .site-content .widget-area {
	background-color: #fffde8;
}
/* Style Two */
body.color-scheme-style-two {
	background-color: #625750;
}
.color-scheme-style-two .site-main {
	background-color: #fffde8;
}
.color-scheme-style-two .site-content {
	background-color: #fffde8;
}
.color-scheme-style-two .site-footer {
	background-color: #9e7e38;
}
.color-scheme-style-two .site-content .widget-area {
	background-color: #e5e0d9;
} 
/* Style Three */
body.color-scheme-style-three {
	background-color: #625750;
}
.color-scheme-style-three .site-main {
	background-color: #fffde8;
}
.color-scheme-style-three .site-content {
	background-color: #fffde8;
}
.color-scheme-style-three .site-footer {
	background-color: #59786c;
}
.color-scheme-style-three .site-content .widget-area {
	background-color: #c1b58a;
}
/* Style Four */
body.color-scheme-style-four {
	background-color: #e5e0d9;
}
.color-scheme-style-four .site-main {
	background-color: #ffffff;
}
.color-scheme-style-four .site-content {
	background-color: #ffffff;
}
.color-scheme-style-four .site-footer {
	background-color: #82231c;
}
.color-scheme-style-four .site-content .widget-area {
	background-color: #e7dcba;
} 
/* Style Five */
body.color-scheme-style-five {
	background-color: #e5e0d9;
}
.color-scheme-style-five .site-main {
	background-color: #fffde8;
}
.color-scheme-style-five .site-content {
	background-color: #fffde8;
}
.color-scheme-style-five .site-footer {
	background-color: #000000;
}
.color-scheme-style-five .site-content .widget-area {
	background-color: #e7dcba;
} 
