/* Make the content area and the sidebar reach the footer,
regardless of their relative content size. */
.site-content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}
.site-main { height: 100%; }

.site-content .widget-area {
    width: 250px;
    float: right;
    padding: 2rem;
    background: #ffffff;
}
.site-footer {
    clear: both;
    width: 100%;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    padding: 0 2rem;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .content-area {
        width: 100%;
        float: left;
        margin-left: -250px;
        padding-left: 250px;
    }
    
    .entry-header,
    .entry-content,
    .entry-meta,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation { 
        margin-right: 0; 
    }  
}

@media screen and (max-width: 767px) {  
    .site-content .widget-area {
        width: auto;
        max-width: 780px;
        float: none;
        margin: 1em auto 0;
    }
	.site-content {
		display: block;
	}
}
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: #fff;
} 