
/*
Layout: No sidebar
Thi is called when the no sidebar template is chosen.
Code for selection of this CSS is in the functions.php
*/

.page .site-content { 
    background: #fff; 
    background: hsl(0, 0%, 100%);
}

.site-footer {
    clear: both;
    width: 100%;
}

.entry-header,
.page-header,
.entry-content,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
}

.page-header,
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: #fff;
}

.page-header {
    margin-top: 1em;
    margin-bottom: 1em;
}